<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Modelos</title>
</head>
<body>
<h1>Lista de Modelos</h1>

<a th:href="@{/modelos/new}">Novo Modelo</a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="${mod.modelos}">
        <td th:text="${mod.id}"></td>
        <td th:text="${mod.nome}"></td>
        <td>
            <a th:href="@{/modelos/edit/{id}(id=${mod.id})}">Editar</a>
            <a th:href="@{/modelos/delete/{id}(id=${mod.id})}">Deletar</a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/}">Voltar</a>

</body>
</html>
