<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: bodyStart">
<div class="container mt-4">
    <h2>Lista de Modelos</h2>
    <a th:href="@{/modelos/new}" class="btn btn-neon mb-3">Novo Modelo</a>

    <table class="table table-dark table-bordered align-middle">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="modelo : ${modelos}">
            <td th:text="${modelo.id}"></td>
            <td th:text="${modelo.nome}"></td>
            <td>
                <a th:href="@{'/modelos/edit/' + ${modelo.id}}" class="btn btn-sm btn-neon">Editar</a>
                <a th:href="@{'/modelos/delete/' + ${modelo.id}}" class="btn btn-sm btn-danger">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>
