<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Moto</title>
</head>
<body>
<h1 th:text="${moto.id != null} ? 'Editar Moto' : 'Nova Moto'"></h1>

<form th:action="@{/motos}" th:object="${moto}" method="post">
    <input type="hidden" th:field="*{id}" />

    <div>
        <label>Placa:</label>
        <input type="text" th:field="*{placa}" placeholder="Digite a placa" required />
    </div>

    <div>
        <label>Modelo:</label>
        <select th:field="*{modelo}" required>
            <option value="" disabled selected>Selecione um modelo</option>
            <option th:each="${mod.modelos}" th:value="${mod.id}" th:text="${mod.nome}"></option>
        </select>
    </div>

    <button type="submit">Salvar</button>
    <a th:href="@{/motos}">Voltar</a>
</form>

</body>
</html>

