<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: bodyStart">
<div class="container mt-4">
    <h2>Lista de Movimentações</h2>
    <a th:href="@{/movimentacoes/new}" class="btn btn-neon mb-3">Nova Movimentação</a>

    <table class="table table-dark table-bordered align-middle">
        <thead>
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Moto</th>
            <th>Setor</th>
            <th>Origem</th>
            <th>Destino</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mov : ${movimentacoes}">
            <td th:text="${mov.id}"></td>
            <td th:text="${#temporals.format(mov.dataMovimentacao, 'dd/MM/yyyy HH:mm')}"></td>
            <td th:text="${mov.moto.placa}"></td>
            <td th:text="${mov.setor.nome}"></td>
            <td th:text="${mov.operadorOrigem.nome}"></td>
            <td th:text="${mov.operadorDestino != null ? mov.operadorDestino.nome : '—'}"></td>
            <td>
                <a th:href="@{'/movimentacoes/edit/' + ${mov.id}}" class="btn btn-sm btn-neon">Editar</a>
                <a th:href="@{'/movimentacoes/delete/' + ${mov.id}}" class="btn btn-sm btn-danger">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>

